@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./content.scss";
@import "./swiper.scss";
@import "./buttons.scss";
@import "./heading.scss";

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

[x-cloak] { display: none; }

.zoomable {
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

.zoomable-container:hover .zoomable {
    transform: scale(1.05);
}